.container {
  padding-top: 70px;
  width: 650px;
  margin-left: auto;
  margin-right: auto;
}
.mainBorder {
  border: 1px solid;
  width: 650px;
}
.head {
  padding: 0;
  background-color: #424242;
  color: white;
  font-family: sans-serif;
}
.headCeil {
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.ceil {
  font-family: sans-serif;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  text-transform: capitalize;
}

table {
  border-collapse: separate;
  border-spacing: 0;
}
td,
th {
  border: 1px solid black;
}
.mainBorder tbody tr:nth-child(odd) td {
  background-color: #ccc; /* Темно-сірий фон для непарних рядків (клітинок) */
}
